<% if @user == current_user %>
    <h2>User info</h2>
    <p><%= @user.name %></p>
    <p><%= @user.introduction %></p>
    <p><%= link_to "edit", edit_user_path(@user.id) %></p>
<% else %>
    <h2>User info</h2>
    <p><%= @user.name %></p>
    <p><%= @user.introduction %></p>
    <p><%= link_to "edit", user_path(current_user.id) %></p>
<% end %>

<h1>本の投稿フォーム</h1>
  <%= form_with model: @book, url:'books_path' do |f| %>
    <h4>ショップ名</h4>
      <%= f.text_field :title %>
    <h4>説明</h4>
      <%= f.text_area :body %>
    <%= f.submit '投稿' %>
  <% end %>

 <h2>Users</h2>
      <table>
        <t.head>
          <tr>
            <th><strong>image</strong></th>
            <th><strong>Title</strong></th>
            <th></th>
          </tr>
        </t.head>
        <% @users.each do |user| %>
        <t.body>
          <tr>
            <td><span><%= image_tag user.get_image %></span></td>
            <td><span><%= user.name %></span></td>
            <td><%= link_to "Show", user_path(user.id), class: "show" %></td>

          </tr>
        </t.body>
        <% end %>
      </table>
